<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bjhome.mapper.RhActivityJoinMapper">

    <resultMap type="com.example.bjhome.domain.RhActivityJoin" id="RhActivityJoinResult">
        <result property="id"    column="id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="username"    column="username"    />
        <result property="type"    column="type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectRhActivityJoinVo">
        select id, activity_id, username, type, del_flag, create_time, create_by, update_time, update_by from rh_activity_join
    </sql>

    <select id="selectRhActivityJoinList" parameterType="com.example.bjhome.domain.RhActivityJoin" resultMap="RhActivityJoinResult">
        <include refid="selectRhActivityJoinVo"/>
        <where>
            <if test="activityId != null "> and activity_id = #{activityId}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>

    <select id="selectRhActivityJoinById" parameterType="long" resultMap="RhActivityJoinResult">
        <include refid="selectRhActivityJoinVo"/>
        where id = #{id}
    </select>

    <insert id="insertRhActivityJoin" parameterType="com.example.bjhome.domain.RhActivityJoin" useGeneratedKeys="true" keyProperty="id">
        insert into rh_activity_join
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null">activity_id,</if>
            <if test="username != null">username,</if>
            <if test="type != null">type,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null">#{activityId},</if>
            <if test="username != null">#{username},</if>
            <if test="type != null">#{type},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateRhActivityJoin" parameterType="com.example.bjhome.domain.RhActivityJoin">
        update rh_activity_join
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="username != null">username = #{username},</if>
            <if test="type != null">type = #{type},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRhActivityJoinById" parameterType="long">
        delete from rh_activity_join where id = #{id}
    </delete>

    <delete id="deleteRhActivityJoinByIds" parameterType="long">
        delete from rh_activity_join where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>