<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bjhome.mapper.RhReserveMapper">

    <resultMap type="com.example.bjhome.domain.RhReserve" id="RhReserveResult">
        <result property="id"    column="id"    />
        <result property="serviceId"    column="service_id"    />
        <result property="serviceDate"    column="service_date"    />
        <result property="username"    column="username"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="serverName"    column="server_name"    />
        <result property="serviceName"    column="service_name"    />
    </resultMap>

    <sql id="selectRhReserveVo">
        select id, service_id, service_date, username, del_flag, create_time, create_by, update_time, update_by from rh_reserve
    </sql>

    <select id="selectRhReserveList" parameterType="com.example.bjhome.domain.RhReserve" resultMap="RhReserveResult">
        select
        a.id,
        a.service_id,
        a.service_date,
        a.username,
        b.name as service_name,
        c.nickname as server_name
        from rh_reserve a
        left join rh_service b on a.service_id = b.id
        left join rh_user c on b.server = c.username
        <where>
            <if test="serviceId != null ">
                and a.service_id = #{serviceId}
            </if>
            <if test="username != null  and username != ''">
                and a.username = #{username}
            </if>
        </where>
        order by
        CASE
        WHEN DATE(a.service_date) = CURDATE() THEN 1
        ELSE 2
        END,
        a.create_time desc
    </select>


    <select id="selectRhReserveById" parameterType="long" resultMap="RhReserveResult">
        <include refid="selectRhReserveVo"/>
        where id = #{id}
    </select>

    <insert id="insertRhReserve" parameterType="com.example.bjhome.domain.RhReserve" useGeneratedKeys="true" keyProperty="id">
        insert into rh_reserve
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serviceId != null">service_id,</if>
            <if test="serviceDate != null">service_date,</if>
            <if test="username != null">username,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serviceId != null">#{serviceId},</if>
            <if test="serviceDate != null">#{serviceDate},</if>
            <if test="username != null">#{username},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateRhReserve" parameterType="com.example.bjhome.domain.RhReserve">
        update rh_reserve
        <trim prefix="SET" suffixOverrides=",">
            <if test="serviceId != null">service_id = #{serviceId},</if>
            <if test="serviceDate != null">service_date = #{serviceDate},</if>
            <if test="username != null">username = #{username},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRhReserveById" parameterType="long">
        delete from rh_reserve where id = #{id}
    </delete>

    <delete id="deleteRhReserveByIds" parameterType="long">
        delete from rh_reserve where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>