<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bjhome.mapper.RhServiceMapper">

    <resultMap type="com.example.bjhome.domain.RhService" id="RhServiceResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="server"    column="server"    />
        <result property="serverName"    column="nickname"    />
    </resultMap>

    <sql id="selectRhServiceVo">
        select id, name, description, del_flag, create_time, create_by, update_time, update_by,server from rh_service
    </sql>

    <select id="selectRhServiceList" parameterType="com.example.bjhome.domain.RhService" resultMap="RhServiceResult">
        select a.id, a.name, a.description, a.server, b.nickname from rh_service a
        left join rh_user b on a.server = b.username
        <where>a.del_flag='0'
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and a.description = #{description}</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectRhServiceById" parameterType="long" resultMap="RhServiceResult">
        <include refid="selectRhServiceVo"/>
        where del_flag='0' and id = #{id}
    </select>

    <insert id="insertRhService" parameterType="com.example.bjhome.domain.RhService" useGeneratedKeys="true" keyProperty="id">
        insert into rh_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="server != null">server,</if>
            <if test="description != null">description,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="server != null">#{server},</if>
            <if test="description != null">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateRhService" parameterType="com.example.bjhome.domain.RhService">
        update rh_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="server != null">server = #{server},</if>
            <if test="description != null">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRhServiceById" parameterType="long">
        update rh_service set del_flag='2' where id = #{id}
    </delete>

    <delete id="deleteRhServiceByIds" parameterType="long">
        update rh_service set del_flag='2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>